html, body { font: 18px normal, Trebuchet, sans-serif; color: #555}

body { background-color: azure; margin: none; padding: 0 0; margin: 0 auto 0 auto;}

a, a:visited, a:active { color: #444444; text-decoration: none; }

a:hover { text-decoration: underline }
h1 { color: #444 }
h2 { color: #555 }
h3 { color: #666 }
table { border: 0 solid silver; border-width: 1px 1px 1px 1px; padding: 0 0; min-width: 100px; max-width: 150px; border-collapse: collapse}
th:first-child { border-width: 0px 1px 1px 0; }
td:first-child { border-width: 0px 1px 0 0; }
td,th { border: 0 solid silver; border-width: 0px 0px 0 0; padding: 0.5em; }
th { border-width: 0 0 1px 0; }
tr:nth-child(2n+1) { background-color: #fff }
tr:nth-child(2n) { background-color: #dadada }

.main-content { background-color: #ffffff; padding: 20px 40px; height: 85%; width: 1600px; margin: 10px auto 20px auto; }
.wrap-content { background-color: #e0fbfb; padding: 20px 40px; margin: 100px auto 20px auto; width: 90%}
.headline { background-color: #69daf7; margin: 0 auto 0 auto; padding: 0px 0px; color: #198aa7; height: 45px; border-bottom: 3px solid #69bbff; position: fixed; top: 0px;width: 100%}
.headline img { border-radius: 16px; margin: 7px 0px -6px 7px; }
